
nav li {
  line-height: 7rem;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  /* border-right: 2px solid #e0e0e0; */
}

nav li a {
  padding: 0 2rem;
  display: inline-block;
  font-size: 2rem;
}

/*
nav li:last-child {
  border-right: none;
}
*/

nav li:hover {
  background: hsla(66, 100%, 83%, 0.8);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li::after {
    transition: all .2s ease-in-out;
    background-color: white;
    content: '';
    display: block;
    height: 3px;
    /*width: 2rem;*/
}

nav li:hover::after {
    background-color: #c61c08;
}
